@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:regularc);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*    border: 1px solid red;   */
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
:root {
  --text-color: rgba(108, 108, 108, 1);
  --h2-text-color: rgba(215, 116, 116, 1);
  --h3-text-color: rgba(0, 0, 0, 1);
  --span-text-color: rgba(172, 19, 19, 1);
  --vertical-line-color: rgba(235, 235, 235, 1);
  --button-text-color: rgba(255, 255, 255, 1);
  --background-color: rgba(245, 245, 245, 1);
  font-family: 'Poppins';
  scroll-behavior: smooth;
}
