* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*    border: 1px solid red;   */
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
:root {
  --text-color: rgb(119, 119, 119);
  --text-color-background: rgb(255, 255, 255);
  --h2-text-color: rgb(248, 184, 3);
  --h3-text-color: rgb(36, 36, 36);
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth;
}
