.background__banner {
  background-image: url(../img/header/background-banner.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100%;
}
h1 {
  padding-top: 20%;
}
.banner__content {
  padding-bottom: 10%;
}
.banner__content h3 {
  font-size: 48px;
  line-height: 58px;
  padding: 12px 0px;
  max-width: 300px;
}
.banner__content p {
  padding-bottom: 52px;
}
.banner__content p {
  font-size: 16px;
  line-height: 26px;
}
.banner__image {
  display: none;
}
@media (min-width: 768px) {
  .banner__content h3 {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .background__banner .container {
    display: flex;
  }
  .banner__content {
    flex: 0 1 55%;
  }
  .banner__image {
    display: block;
    flex: 0 1 45%;
    margin-top: 15%;
  }
}
@media (min-width: 1160px) {
  .banner__content {
    flex: 0 1 45%;
  }
  .banner__image {
    flex: 0 1 55%;
  }
  .banner__image {
    margin-top: 7%;
  }
}
