.online-store__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-store__title {
  text-align: center;
}
.online-store__title h2 {
  padding-top: 60px;
}
.online-store__title h3 {
  padding: 16px 0px 60px 0px;
}
.card__image {
  max-width: 371px;
}
.card__title {
  padding-top: 20px;
}
.card__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--h3-text-color);
  padding-bottom: 20px;
}
.card__button {
  margin-bottom: 30px;
}
.online-store__button {
  margin-top: 20px;
}
.online-store__button a {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  align-items: center;
}
@media (min-width: 820px) {
  .online-store__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
}
@media (min-width: 1160px) {
  .online-store__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
