.product-categories__details hr {
  border-top: 1px solid var(--vertical-line-color);
}
.details__gold-pottery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details__orange-ceramic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gold-pottery__background {
  height: 220px;
  width: 300px;
  background-color: var(--background-color);
  margin-top: 220px;
}
.orange-ceramic__background {
  height: 220px;
  width: 300px;
  background-color: var(--background-color);
  margin-top: 85px;
}
.gold-pottery__image img {
  width: 250px;
  height: 509px;
  margin-top: -365px;
  margin-left: 25px;
}
.gold-pottery__description p,
.orange-ceramic__description p {
  padding: 20px 0px;
}
.gold-pottery__description h3,
.orange-ceramic__description h3 {
  font-size: 24px;
  line-height: 34px;
}
.orange-ceramic__image img {
  width: 310px;
  height: 370px;
  margin-top: -319px;
  margin-left: -5px;
}
.product-categories__details a {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--h3-text-color);
}
.product-categories__details a:hover {
  text-decoration: underline;
  color: var(--span-text-color);
}
.orange-ceramic__description {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .gold-pottery__background {
    width: 500px;
  }
  .orange-ceramic__background {
    width: 500px;
  }
  .gold-pottery__image img {
    margin-left: 125px;
  }
  .orange-ceramic__image img {
    margin-left: 75px;
  }
  .orange-ceramic__image img {
    width: 350px;
    height: 417px;
  }
}
@media (min-width: 992px) {
  .details__gold-pottery {
    flex-direction: row;
    justify-content: space-between;
    gap: 86px;
  }
  .gold-pottery__description {
    padding-top: 235px;
    max-width: 388px;
  }
  .details__orange-ceramic {
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 86px;
  }
  .orange-ceramic__description {
    padding-top: 100px;
    max-width: 388px;
  }
}
